<html>
  <!--
  <script src="https://www.gstatic.com/eureka/js/chromekey_receiver.js">
  -->
  <script src="http://www.gstatic.com/cast/js/receiver/0.9.3/cast_receiver.js">
  </script>
  <script type="text/javascript">

cast.receiver.logger.setLevelValue(0);
var receiver = new cast.receiver.Receiver(
    '0552e46c-8581-49c5-a407-3548affca0fd_1', [cast.receiver.RemoteMedia.NAMESPACE],
    "",
    5);
var remoteMedia = new cast.receiver.RemoteMedia();
remoteMedia.addChannelFactory(
    receiver.createChannelFactory(cast.receiver.RemoteMedia.NAMESPACE));

receiver.start();

window.addEventListener('load', function() {
  var elem = document.getElementById('vid');
  remoteMedia.setMediaElement(elem);

  var checkStatus = function() {
    var status = document.getElementById('status');
    var st = remoteMedia.getStatus()['state'];
    
    if( st == 0 || remoteMedia.getStatus()['current_time'] == 0 ) {
        status.style.display = 'block';
    }
    else {
        if( st == 1 && remoteMedia.getStatus()['current_time'] > 0 ) {
            status.innerHTML = 'Paused...';
            status.style.display = 'block';
        }
        else {
            status.innerHTML = remoteMedia.getStatus()['current_time'];
            status.style.display = 'none';
            elem.style.display = 'block';
        }
    }
  }
  setInterval(checkStatus, 1000);


});
  </script>
  <title>Google Cast Sample Receiver App</title>
  <body>
    <p>Test</p>
    <video id="vid"
           style="position:absolute;top:100;left:100;height:90%;width:100%">
    <div id="status" style="display:none; font-size:300%; position:absolute;top:40%;left:40%;">
      <img src="/images/chrome_loading.gif" width="60%">
    </div>
  </body>
</html>

